
*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#home{
    background: url('../images/home.jpg');
    width: 100%;
    height:auto;
    background-size: cover;
}

.home-content{
    width: 60%;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}
.home-content h1{
    color: white;
}
.see-more{
    width: 100%;
    height: 200px;
}
.home-content p{
    text-align: center;
    color: white;
    font-size: 17px;
    margin: 50px 0;
}
.home-content a{
    margin-bottom: 50px;
    padding: 7px 15px;
    color: white;
    background-color: maroon;
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
}
.home-content a:hover{
    background-color: white;
    color: black;
    font-size: 18px;
    border: 1px solid grey;
}
.logo a{
    font-size: 36px;

    font: 700;
    user-select: none;
    text-decoration: none;
    color: black;
}
header{
    background-color: transparent;
}

header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(188, 214, 188);
    transform: translateY(-100%);
    transition: 0.5s;
    padding: 20px 0;
}
.header.sticky a{
    color: green;
}
body.scroll header.sticky{
    transform: translateY(0);
}
.nav-wrapper{
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper ul li{
    display: inline-block;
    list-style: none;
    font-size: 17px;
    line-height: 22px;
    padding: 7px 15px;
   
}
.nav-wrapper ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    cursor: pointer;
    line-height: 25px;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: 0.5s;
}
.nav-wrapper ul li a:hover{
    border-bottom: 2px solid blueviolet;
}



/*updated section starts */
.updated{
    background-color: maroon;
}
.updated .content{
    width: 60%;
    padding: 100px 0;
    margin: 0 auto;
    color: white;
}
.updated h1{
    text-align: center;
}
.breaker{
    text-align: center;
}
.updated hr{
    width: 50px;
    background-color: white;
    height: 3px;
    display: inline-block;
    text-align: center;
}
.updated p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.updated span{
    display: inline-block;
    text-align: center;
}
.updated .learn-something{
    text-align: center;
}
.updated a{
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
}
.updated a:hover{
    background-color: blueviolet;
    color: wheat;
}
div.services{
    width: 100%;
    background:white;
    color: black;
}
.services h1{
    color: black;
    text-align: center;
    text-transform: uppercase;
}
.services hr{
    width: 50px;
    background-color: maroon;
    height: 3px;
}
.icon{
    width: 100px;
    display: inline;
    text-align: center;
}
i{
    color: maroon;
    font-weight: bolder;
}
.service-content{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}
.service-content .items{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services .item1,.item2,.item3,.item4{
    width: 20%;
    text-align: center;
}
.services h2{
    margin: 10px 0;
}
#portfolio{
    width: 100%;
}
#portfolio .showcase{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.showcase .images{
    width: 33.33%;
}
#portfolio img{
    width: 100%;
}
#admission{
    width: 100%;
    background-color: rgb(88, 77, 77);
}
#admission h1{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 40px;
}
#admission .admit-now{
    text-align: center;
}
#contact{
    width: 100%;
    background-color: white;
    color: black;
}
#contact h1,hr{
    color: black;
}
#contact hr{
    background-color: black;
}
#contact .icons{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#contact .icons .text{
    color: black;
}
.footer{
    width: 100%;
    background-color: grey;
    text-align: center;
   padding: 20px 0;
}



@media (max-width:768px){
    .menu{
        width: 0;
        display: none;
    }
    .logo{
        width: 100%;
    }
    .services .items{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .services .item1{
        width: 100%;
    }
    .portfolio{
        background-color: white;
    }
    .showcase{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
    }
    .showcase .images{
        width: 80%;
        margin: 0 auto;
    }
}
@media(max-width:480px){
    
    .logo{
        width: 100%;
    }
    .services{
        background-color: grey;

    }
    .services .items{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .services .items .item1{
        border: 1px solid black;
        margin-bottom: 5px;
        box-shadow: 2px;
        background-color: white;
    }
    .services .item1{
        width: 100%;
    }
    .showcase{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .showcase .images{
        width: 80%;
        margin:0 auto;
    }
}